@import "tailwindcss";

:root {
  --background: #ffffff; /* 기본 배경색 (화이트 모드) */
  --foreground: #171717; /* 기본 글자색 (화이트 모드) */
}


html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.viewScrollbar {
  -ms-overflow-style: auto !important; /* IE, Edge */
  scrollbar-width: auto !important; /* Firefox */
}

.viewScrollbar::-webkit-scrollbar {
  display: block !important; /* Chrome, Safari, Edge */
  width: 8px !important; /* 스크롤바 너비 */
}

.viewScrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc !important; /* 스크롤바 색상 */
  border-radius: 4px !important;
}

.viewScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1 !important; /* 스크롤바 트랙 색상 */
}
